body{
    background: linear-gradient(135deg, #0dcaf0, #0d6efd);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-card{
    width: 100%;
    max-width: 360px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.15);
    padding: 28px;
}

.btn-login{
    margin-top: 1rem;
    color: white;
    background-color: #0d6efd;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
    border: none;
}

.btn-login:hover{
    background-color: #084298;
}
.enlaces { text-align: center; font-size: 0.9em; margin-top:10px; }
.enlaces a{ color:#0d6efd; text-decoration:none; }
